<div class="mobile-menu-overlay lg:hidden" [class.is-open]="menuOpen()" [attr.aria-hidden]="!menuOpen()"
    (click)="closeMenu()">
    <div class="mobile-menu-backdrop" (click)="closeMenu()"></div>

    <div class="mobile-menu-panel bg-gray-300 p-4 flex flex-col items-center justify-between"
        (click)="$event.stopPropagation()">
        <div class="flex flex-col items-center justify-center gap-8">
            <div class="flex flex-col items-center justify-center group gap-4">
                <img src="icon.webp" alt="Icône" />
                <span class="group-hover:underline" (click)="closeMenu()">Les livres</span>
            </div>

            @if (loggedIn) {
            <app-link href="/reservations" (click)="closeMenu()">Mes réservations</app-link>
            }

        </div>


        <div class="pb-8">
            @if (loggedIn) {
            <app-link href="/profile" (click)="closeMenu()">Mon compte</app-link>
            } @else {
            <app-link href="/login" (click)="closeMenu()">Se connecter</app-link>
            }
        </div>
    </div>
</div>


<header class="bg-gray-300 p-4 flex items-center justify-between h-36">
    <div class="flex flex-row items-center justify-between lg:hidden w-full">
        <button class="block lg:hidden" type="button" [attr.aria-expanded]="menuOpen()" (click)="toggleMenu()">
            <lucide-icon [img]="MenuIcon" [class.menu-rotate]="menuOpen()"></lucide-icon>
            <!-- <span [class.rotate-90]="menuOpen()" class="transition-transform duration-300 transform"></span> -->
        </button>

        <img src="icon.webp" alt="Icône" />
    </div>

    <!-- 
    @if (menuOpen) {
    <div class="flex flex-col items-center justify-center gap-4 lg:hidden w-full">
        <a href="/" class="flex flex-row items-center justify-center group">
            <img src="icon.webp" alt="Icône" />
            <app-link href="/" class="group-hover:underline">Les livres</app-link>
        </a>
        @if (loggedIn) {
        <app-link href="/reservations">Mes réservations</app-link>
        }
        @if (loggedIn) {
        <app-link href="/profile">Mon compte</app-link>
        } @else {
        <app-link href="/login">Se connecter</app-link>
        }
    </div>
    } -->

    <div class="hidden items-center justify-between lg:flex flex-row w-full">
        <div class="flex items-center justify-center gap-8">
            <div class="flex flex-row items-center justify-center group">
                <img src="icon.webp" alt="Icône" />

                <app-link href="/" class="group-hover:underline">Les livres</app-link>
            </div>


            @if (loggedIn) {
            <app-link href="/reservations">Mes réservations</app-link>
            }
        </div>

        <div>
            @if (loggedIn) {
            <app-link href="/profile">Mon compte</app-link>
            } @else {
            <app-link href="/login">Se connecter</app-link>
            }
        </div>
    </div>
</header>