<div class="relative w-full">
    <app-input
        [id]="id"
        [name]="name"
        [type]="currentType"
        [value]="value"
        [placeholder]="placeholder"
        [required]="required"
        [disabled]="disabled"
        [autocomplete]="autocomplete"
        [className]="inputClassName"
        (valueChange)="onValueChange($event)"
        (blurred)="onBlur($event)"
    ></app-input>

    <button
        type="button"
        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-600 disabled:opacity-40 hover:cursor-pointer"
        [attr.aria-label]="toggleAriaLabel"
        [disabled]="disabled"
        (click)="toggleVisibility()"
    >
        <lucide-icon [img]="isPasswordVisible ? EyeOffIcon : EyeIcon" [size]="18"></lucide-icon>
    </button>
</div>
