/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Animations Toast
 */

/* Apparition */
@keyframes popup-in {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Disparition */
@keyframes popup-out {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

/* Animation complète (in + pause + out) */
.animate-popup {
  animation:
    popup-in 0.3s ease-out,
    popup-out 0.3s ease-in 2.7s;
}
